@model SIL.Web.ViewModels.ReleaseViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="pull-left">Create</h1>



<div id="leftPane">
	<nav class="subMenu">
	<h3>Actions</h3>
	</nav>
</div>
<div id="rightPane">


@using (Html.BeginForm("Create", "Release"))
{
    @Html.ValidationSummary(true)



          @Html.Partial("_CreateOrEdit",Model) 

 }

@section Scripts {
    @Scripts.Render("~/bundles/modernizr")

<script >
    $().ready(function () {
        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy',
            buttonImage: '@Url.Content("~/Images/calendar.gif")',
                buttonImageOnly: true,
                showOn: "button"
            });
        });
</script>

}


</div>